<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recipology</title>
     <link rel="icon" href={{ url_for('static', filename="img/salad.png") }}>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css_prova.css') }}">


 </head>

<body>
    <div id="main">
        <div>
            <h1>Recipology</h1>
            <h2>A simple university project for the course Knowledge rapresentation and extraction</h2>
        </div>
    </div>

</body>